Repository libremesh/lime-packages, pull requests merged in 2020-01, with the labels that each got.

#664 Add txpower option for wireless radios
  packages/lime-docs/files/lime-example
  packages/lime-system/files/usr/lib/lua/lime/wireless.lua
Labels: enhancement

#665 Specific wireless interface: if no mode is configured, use default ones
  packages/lime-system/files/usr/lib/lua/lime/wireless.lua
Labels: bug

#672 Pirania lime app integration
  packages/pirania-app/Makefile
  packages/pirania-app/Readme.md
  packages/pirania-app/files/etc/pirania/content.json
  packages/pirania-app/files/etc/pirania/governance.json
  packages/pirania-app/files/usr/libexec/rpcd/pirania-app
  packages/pirania-app/files/usr/share/rpcd/acl.d/pirania-app.json
  packages/pirania-app/files/www/portal/admin.html
  packages/pirania-app/files/www/portal/auth.html
  packages/pirania-app/files/www/portal/authenticated.html
  packages/pirania-app/files/www/portal/fail.html
  packages/pirania-app/files/www/portal/js/admin.js
  packages/pirania-app/files/www/portal/js/tabs.js
  packages/pirania/Readme.md
  packages/pirania/files/usr/bin/voucher
  packages/pirania/files/usr/lib/lua/voucher/db.lua
  packages/pirania/files/usr/lib/lua/voucher/hooks.lua
  packages/pirania/files/usr/lib/lua/voucher/logic.lua
  packages/pirania/files/usr/lib/lua/voucher/utils.lua
  packages/pirania/files/usr/libexec/rpcd/pirania
  packages/pirania/files/usr/share/rpcd/acl.d/pirania.json
  packages/pirania/tests/test_pirania.lua
  packages/pirania/tests/test_voucher.lua
Labels: pirania

#680 Pirania tests improvements and other minnor changes
  packages/pirania-app/files/www/cgi-bin/pirania/client_ip
  packages/pirania-app/files/www/cgi-bin/pirania/handle_auth
  packages/pirania-app/files/www/cgi-bin/pirania/handle_voucher
  packages/pirania-app/files/www/cgi-bin/pirania/portal
  packages/pirania/files/usr/lib/lua/voucher/logic.lua
  packages/pirania/files/usr/lib/lua/voucher/utils.lua
  packages/pirania/tests/test_voucher.lua
Labels: pirania
